<div class="container">
    <h1>Image Gallery</h1>
    //added
    <div class="image-grid">
        <div class="image-item">
            <a href="#">
                <img src="image1.jpg" alt="Image 1">
                <h3>Image Title</h3>
                <p>Description of the image.</p>
            </a>
        </div>
        <div class="image-item">
            <a href="#">
                <img src="image2.jpg" alt="Image 2">
                <h3>Image Title</h3>
                <p>Description of the image.</p>
            </a>
        </div>
    </div>
</div>